:root {
    font-size: 15px;
}

body {
    background: linear-gradient(90deg,
            rgb(255, 255, 255)1%,
            rgb(255, 123, 0)61%,
            rgba(255, 0, 0)97%);
}

#download_links {

    background: linear-gradient(90deg,
            rgb(0, 225, 255)3%,
            rgb(78, 150, 184)43%,
            rgb(107, 74, 226)97%);
    text-align: center;
    width: 20rem;
    height: 30rem;
    margin: 5rem auto;
    border-radius: 1rem;
    position: relative;
    box-shadow: 0rem 0.5rem 2rem blueviolet;

}

#download_links>ul>a>li {

    list-style: none;
    background-color: antiquewhite;
    color: black;
    padding: 0.5rem;
    border-radius: 2rem;
    margin: 1rem 0.5rem;
    width: 10rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    transition: 0.5;

}

#download_links>ul>a>li:hover {
    transition: ease-in-out 0.18s;
    background-color: black;
    color: red;
}

#download_links>ul>a>li:active {
    background-color: red;
    color: white;
}


#download_links>ul>a {
    text-decoration: none;
}

#download_links>ul {
    position: absolute;
    margin: 2.5rem 1.25rem;
    width: 15rem;
    height: 20rem;
}

#youtube_image {
    width: 5rem;
    height: 5rem;
}